svg.rectSizer .handle {
  fill: #D5D5D5;
  stroke: #6D7993;
  stroke-width: 2px;
  transition: stroke 0.5s;
  cursor: pointer; }
  svg.rectSizer .handle:hover {
    stroke: #a8afbe; }
svg.rectSizer .sliderG polygon {
  fill: #6D7993; }
svg.rectSizer .rect {
  stroke: #96858F;
  fill: #96858F;
  stroke-width: 1; }
svg.rectSizer .leftVertical, svg.rectSizer .horizontal, svg.rectSizer .rightVertical, svg.rectSizer .topHorizontal, svg.rectSizer .vertical, svg.rectSizer .bottomHorizontal {
  stroke: #6D7993;
  stroke-width: 2px; }
svg.rectSizer text {
  fill: #6D7993;
  font-size: 8pt; }
  svg.rectSizer text.width {
    text-anchor: middle;
    alignment-baseline: middle; }
svg.rectSizer rect.textRect {
  fill: #D5D5D5; }

svg.arcSizer .handle {
  fill: #D5D5D5;
  stroke: #6D7993;
  stroke-width: 2px;
  transition: stroke 0.5s; }
  svg.arcSizer .handle:hover {
    stroke: #a8afbe; }
svg.arcSizer .arc {
  fill: #96858F; }
svg.arcSizer .smallArc {
  stroke: #6D7993;
  stroke-width: 1.5px;
  fill: #a8afbe; }
svg.arcSizer line {
  stroke-width: 1.5px; }
  svg.arcSizer line.line {
    stroke: #6D7993; }
svg.arcSizer polygon {
  fill: #6D7993; }
svg.arcSizer text {
  text-anchor: middle;
  font-size: 9pt;
  fill: #6D7993; }

svg.rangeSizer line {
  transition: stroke 0.3s ease;
  stroke: #96858F; }
  svg.rangeSizer line.trunk {
    stroke-width: 20; }
  svg.rangeSizer line.branch {
    stroke-width: 10;
    stroke-linecap: round;
    cursor: pointer; }
    svg.rangeSizer line.branch.min:hover {
      stroke: #a8afbe; }
    svg.rangeSizer line.branch.max:hover {
      stroke: #a8afbe; }
  svg.rangeSizer line.selected {
    stroke: #6D7993; }
svg.rangeSizer path {
  fill: #96858F; }
svg.rangeSizer svg {
  border-radius: 5px; }

div.colorPicker {
  position: relative; }
  div.colorPicker .svDiv {
    position: absolute; }
    div.colorPicker .svDiv canvas {
      position: absolute;
      top: 15px;
      left: 15px; }
    div.colorPicker .svDiv svg {
      position: absolute;
      top: 0px;
      left: 0px; }
  div.colorPicker .hDiv {
    position: absolute;
    top: 110px; }
    div.colorPicker .hDiv canvas {
      position: absolute;
      top: 15px;
      left: 15px;
      width: 200px;
      height: 8px;
      border-radius: 25px; }
    div.colorPicker .hDiv svg {
      position: absolute;
      top: 0px;
      left: 0px; }
  div.colorPicker circle.picker {
    cursor: pointer;
    stroke-width: 2;
    stroke: white; }

.fileButton .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }
.fileButton label {
  max-width: 80%;
  font-size: 14px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 10px 20px;
  color: #6D7993; }
  .fileButton label .fileName {
    width: 100px; }
  .fileButton label:hover {
    color: #96858F; }
    .fileButton label:hover figure {
      background-color: #96858F; }
  .fileButton label figure {
    transition: background-color 0.3s ease;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #6D7993;
    display: block;
    padding: 10px;
    margin: 0 auto 10px; }
    .fileButton label figure svg {
      width: 100%;
      height: 100%;
      fill: #f1e5e6;
      vertical-align: middle;
      margin-top: -0.25em;
      margin-right: 0.25em; }

.fileNameInput {
  position: absolute;
  top: 47px;
  left: -4px;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
  overflow: hidden; }
  .fileNameInput *, .fileNameInput *:after, .fileNameInput *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.input__field {
  position: relative;
  display: block;
  float: right;
  width: 100%;
  padding: 0.85em 0.15em;
  margin-top: 1em;
  border: none;
  border-radius: 0;
  background: transparent;
  color: #414959;
  font-weight: bold;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */ }

.input__field:focus {
  outline: none; }

.input__field:focus + .input__label::after,
.input--filled .input__label::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.input__field:focus + .input__label .input__label-content,
.input--filled .input__label-content {
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards; }

.input__label {
  position: absolute;
  display: inline-block;
  float: right;
  bottom: 0;
  left: 0;
  padding: 0 0.25em;
  width: 100%;
  height: calc(100% - 1em);
  color: #6D7993;
  font-weight: bold;
  font-size: 70.25%;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none; }

.input__label::before, .input__label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  border-bottom: 1px solid #a8afbe; }

.input__label::after {
  margin-top: 2px;
  border-bottom: 4px solid;
  border-color: #96858F;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }

.input__label-content {
  position: absolute;
  display: block;
  padding: 1.6em 0;
  width: 100%; }

@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0); } }
@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0); } }
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: #D5D5D5;
  user-select: none; }

svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.mainWrapper {
  display: grid;
  grid-template-columns: 1300px 565px;
  grid-gap: 10px;
  background-color: #D5D5D5;
  margin: auto;
  margin-top: 80px;
  width: 1875px; }
  .mainWrapper .box {
    position: relative;
    padding: 20px;
    background-color: #9099A2;
    border-radius: 5px; }
    .mainWrapper .box .config {
      position: absolute;
      width: 140px;
      height: 80px;
      background-color: #D5D5D5; }
      .mainWrapper .box .config.right {
        right: 20px; }
    .mainWrapper .box.side ::-webkit-scrollbar {
      width: 12px; }
    .mainWrapper .box.side ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      -webkit-border-radius: 10px;
      border-radius: 10px; }
    .mainWrapper .box.side ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: #bcbcbc;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
    .mainWrapper .box.side ::-webkit-scrollbar-thumb:window-inactive {
      background: #a2a2a2; }
    .mainWrapper .box.side .scrollable {
      position: relative;
      height: 840px;
      width: 537px;
      display: grid;
      grid-gap: 10px;
      overflow-y: scroll; }
      .mainWrapper .box.side .scrollable .panel {
        position: relative;
        height: 370px;
        width: 467px;
        padding: 20px;
        display: grid;
        grid-template-columns: 250px 250px;
        background-color: #D5D5D5;
        border-radius: 5px; }
        .mainWrapper .box.side .scrollable .panel svg.arcSizer {
          margin-left: -9px; }
        .mainWrapper .box.side .scrollable .panel .level {
          position: absolute;
          top: 200px;
          left: 340px;
          font-size: 20pt;
          font-weight: bold;
          color: #6D7993; }
    .mainWrapper .box.side .levelControl circle {
      fill: #D5D5D5;
      cursor: pointer; }
      .mainWrapper .box.side .levelControl circle:hover ~ line {
        stroke: #8a94a9; }
      .mainWrapper .box.side .levelControl circle.disabled {
        fill: #6D7993;
        cursor: default;
        pointer-events: none; }
      .mainWrapper .box.side .levelControl circle.disabled ~ line {
        stroke: #8a94a9; }
    .mainWrapper .box.side .levelControl line {
      transition: stroke 0.5s ease;
      stroke-width: 7px;
      stroke: #6D7993;
      pointer-events: none; }
    .mainWrapper .box.side .levelControl text {
      text-anchor: middle;
      font-size: 20pt;
      font-weight: bold;
      fill: #D5D5D5; }

/*# sourceMappingURL=main.css.map */
